:root {
    /* colors */
    --red: #CC0000;
    --purple: #880088;
    --blue: #0066FF;
    --green: #00AA00;
    --yellow: #F1D302;
    --orange: #CC6600;
    /* shades */
    --base: #000000;
    --mantle: #111111;
    --crust: #222222;
    --overlay: #BBBBBB;
    --outline: #FFFFFF;
    /* text colors */
    --text: #FFFFFF;
    --hltext: #000000;
    --text-on-red: var(--text);
    --text-on-purple: var(--text);
    --text-on-blue: var(--text);
    --text-on-green: var(--text);
    --text-on-orange: var(--text);
    --text-on-yellow: var(--hltext);
    --text-on-base: var(--text);
    --text-on-mantle: var(--text);
    --text-on-crust: var(--text);
    --text-on-overlay: var(--hltext);
    --text-on-outline: var(--hltext);
}